.head{
    display: flex;
    justify-content: center;
    margin: 32px;
    border-bottom: solid;
    border-color: red;
}

.loginButton{
    cursor: pointer;
    background-color: red !important;
    font-size: 24px !important;
}

img{
    max-width: 80%;
    padding-bottom: 32px;
}

