<div class="padLeftRight150px height80percent colorblack infodialog">
    <div class="infohead">
        <h1>Imprint</h1>
        <a [mat-dialog-close]="true">X</a>
    </div>
    
    <h3>Represented by</h3>
    <p>Heinz Friess<br>
        Software Development<br>
        Reiherstr. 11<br>
        73760 Ostfildern</p>
    
    <h3>Responsible for Content according to § 55 Abs. 2 RStV</h3>
    <p>
        Heinz Friess
    </p>
    <h3>VAT Identification Number</h3>
    <p>
        [VAT Identification Number in accordance with § 27a of the German Value Added Tax Act, if applicable]
    </p>
    <h3>Disclaimer</h3>
    <p>
        All content on this website has been carefully checked. Nevertheless, we assume no liability for the accuracy,
        completeness, and timeliness of the provided information. 
    </p>
    <h3>Copyright</h3>
    <p>
        The content and works on this website are subject to German copyright law. The reproduction, editing, distribution, and
        any kind of use beyond the limits of copyright require the written consent of the respective author or creator.
    </p>
    <h3>Liability for Links</h3>
    <p>
        Our website contains links to third-party external websites whose content we have no influence over. The respective
        provider or operator of the pages is always responsible for the content of the linked pages.

    </p>
    <h3>Contact</h3>
    <p>Telefon: +49 (0) 172 4825725<br>
        If you have any questions or comments regarding the imprint, please contact us at
        E-Mail: hf&#64;heinzfriess.com</p>
</div>


