.head{
    display: flex;
    justify-content: center;
    margin: 32px;
    border-bottom: solid;
    border-color: red;
}

.mainpage{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    button{
        color: white;
        background: black;
        cursor: pointer;
        border-radius: 3px;
        border:2px solid red;
    }
}

.previewSection{
    display: flex;
    flex-direction: column;
    width: 90%;    
    position: relative;
    overflow: hidden;
}

.categorysection{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 16px;
}

.categorysection::-webkit-scrollbar{
    width: 0px;
}

.category-wrapper {
    display: flex;
    gap: 16px;
  }

.scrollButton{
    position: relative;
    height: 124px;
    top: 44px;
    opacity: 0.25;
    transition: opacity 0.2s ease-in-out;
    &:hover{
        opacity: 0.8; 
    }
}

.previeItem{
    transition: transform  0.5s;
    position: relative;    
}

h3{
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 22px;
    text-shadow: 3px, 3px, 3px, rgb(28, 29, 28);
}

.playBtn{
    cursor: pointer;
}

.previeItem:hover {
    transform: scale(1.15);
    z-index: 20;
}

.hidden {
    position: absolute;
    top: 0;
    left: 24px; 
    padding: 10px;
    border-radius: 5px;
    opacity: 0; 
    transition: opacity 0.4s ease-in-out; 
}

.previeItem:hover .hidden {
    opacity: 1;
}

.previeItem:hover h3 {
    visibility: hidden;
}

.previeItem:hover .hidden h3 {
    visibility: visible; 
}

.load{
    height: 64;
    width: 320px;
    text-align: center;
    margin-bottom: 16px;
}

.uploadBtn{
    cursor: pointer;
    background-color: red !important;
    font-size: 18px !important;
}

.pictureFrame{
    width: 320px;
    height: 180px;
    border-radius: 3px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 32px;
}

.backBtn{
    width: 96px;
    height: 32px;
    font-size: 16px !important;
}

.menuBtn{
    width: 96px;
    height: 32px;
    font-size: 16px !important;
}

.videosection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-video-container {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: auto;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  @media (max-width:720px){

    .pictureFrame{
        width: 240px;
        height: 125px;
    }

    h1{
        font-size: 20px;
    }

    .menuBtn{
        width: 72px;
        height: 24px;
        font-size: 16px;
    }
}

@media (max-width:580px){

    .pictureFrame{
        width: 160px;
        height: 90px;
    }

    .scrollButton{
        display: none;
    }

    h1{
        font-size: 16px;
    }
}
  