<app-header></app-header>

<div class="mainpage">
    
    <div class="menu" *ngIf="!play">
        <button class="menuBtn" (click)="logout()">LogOut</button>
        <button class="menuBtn" (click)="openDialog()" *ngIf="loggedIn && !guest">Upload</button>
    </div>
    <div *ngIf=loading class="load">
        <h3>
            loading.....
        </h3>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
    <div *ngIf="!loading && !play" class="previewSection">
        <div *ngFor="let video of videos; index as i" class="previeItem" (click)="playVideo(video)">
            <h3>
                {{ video.title }}
            </h3>
            <h5>
                {{ video.description }}
            </h5>
            <img class="pictureFrame" src="{{ video.video_fileThumbnail }}" alt="">
        </div>
    </div>
    <div class="videosection" *ngIf="!loading && play">
        <div class="menu">
            <button (click)="stopVideo()" class="backBtn">back</button>
        </div>
        <video width="480" controls>
            <source src="{{ file }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<app-footer></app-footer>