.mainpage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.previewSection{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1044px;
}

.previeItem{
    width: 320px;
    height: 180px;
    background-color: red;
}