/* You can add global styles to this file, and also import other style files */
html{
    margin: 0;
    background-color: black;
}

.mainbody{
    margin: 0;
    width: 100vw;
    color: white;
}
//html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.message{
    height: 140px;
}

.colorblack{
    color: black;
}

.infodialog{
    padding: 32px;
    h3{
        margin-block-start: 2px;
        margin-block-end: 2px;
    }
}
