.landingpage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.previewSection{
    padding-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1044px;
}

.mainpic{
    max-width: 70%;
}



.text {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blinking {
    animation: blink 1.5s infinite;
}
