<app-header></app-header>
<div class="landingpage">
    <h1>Welcome to videoflix</h1>
    <div class="blinkingTextDiv">
        <p id="blinkingText">{{ texts[currentIndex] }}</p>
    </div>
    <div class="previewSection">
        <img src="./../../../assets/img/tv-5837826_1920.jpg" class="mainpic">
    </div>
    <div class="enterButtons">
        <button  class="loginButton" (click)="openDialog()">
            Login
        </button>
        <button  class="loginButton" (click)="guestLogin()">
            Guest Login
        </button>
    </div>
</div>
<app-footer></app-footer>