.landingpage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.previewSection{
    padding-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 1044px;
}

.mainpic{
    max-width: 70%;
}